@import "./_variables";
@import "./_defaults";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    background: $base-header-colour;
    color: $white;
    display: flex;
    padding: 1rem 0.75rem;
  }

  section {
    height: 100vh;
    overflow-y: scroll;

    .row {
      height: 100%;

      nav {
        height: inherit;
        line-height: unset;
        padding: 0.5rem 0.75rem;

        ul {
          display: flex;
          flex-direction: column;

          li {
            cursor: pointer;
          }
        }
      }

      article {
        padding: 0.5rem 0.75rem;

        .consentInputs {
          display: flex;
        }

        .consentSelectors {
          align-items: center;
          display: flex;
          flex-direction: column;

          span {
            line-height: unset;
          }

          &-selectors {
            border: 1px solid;
            display: flex;
            flex-direction: column;
            margin: 10px auto;
            padding: 10px;
            width: 350px;
          }
        }
      }
    }
  }

  footer {
    background: $base-header-colour;
    color: $white;
    display: flex;

    .footer-container {
      display: flex;
      font-size: $size-16;
      padding: 20px;
    }
  }
}
