@import "./_variables";
@import "./_defaults";

// Views
@import "../views/GiveConsent/giveConsentView.component";
@import "../views/DisplayConsentsView/displayConsentsView.component";

// Components
@import "../components/Spinner/spinner.component";
@import "../components/Nav/nav.component";
@import "../components/Pagination/pagination.component";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    background: $base-header-colour;
    color: $white;
    display: flex;
    padding: 1rem 0.75rem;
  }

  section {
    flex: 1;

    .row {
      height: 100%;

      article {
        padding: 1rem 0.75rem;
      }
    }
  }

  footer {
    background: $base-header-colour;
    color: $white;
    display: flex;

    .footer-container {
      display: flex;
      font-size: $size-16;
      padding: 20px;
    }
  }
}
