.giveConsent {
  &-consentInputs {
    display: flex;
  }

  &-consentSelectors {
    align-items: center;
    display: flex;
    flex-direction: column;

    button {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    span {
      line-height: unset;
    }

    &-selectors {
      border: 1px solid;
      display: flex;
      flex-direction: column;
      margin: 10px auto 20px;
      padding: 10px;
      width: 350px;
    }

    .spinner {
      margin: 0 0 0 10px;
    }
  }
}
